<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${greeting}"></h1>

</body>
</html>

<!--
Easy:
--> Branch based
--> Aldrig pusha med main branch

-Create customer with a random employee assigned support rep (can be hardcoded)
-Read all customers in db (id, first name, last name, country, postal code, phone number)
-Update an existing customer
-Return the number of customers in each country, ORDER BY DESC

Medium:
-Sort table relationships (sammanfattning)
-API Collection in Postman (JSON)
-Invoice Total grej/highest spenders (total in invoice table is the largest) order descending

Hard:
-Most popular Genre (if tie display both)

OBS
-Jag pratar med de andra nu BRB
-jag vill också prova/testa att göra branch i git och push så att det finns inte problem

-->